@font-face {
	font-family: 'Inter';
	src: url('/assets/fonts/Inter-Variable.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Archivo';
	src: url('/assets/fonts/Archivo-Variable.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Mona Sans';
	src: url('/assets/fonts/Mona-Sans.woff2');
	font-display: swap;
}

@font-face {
	font-family: 'CiscoSans';
	src: url('/assets/fonts/CiscoSansTTRegular.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'CiscoSansLight';
	src: url('/assets/fonts/CiscoSansTTLight.ttf') format('truetype');
	font-display: swap;
}

:root {
	--cisco-blue-500: #3e84e5;
}

html {
	word-break: break-word;
}

code {
	/* white-space-collapse: preserve !important; */
	overflow-x: auto;
	width: auto;
}

math {
	margin-top: 1rem;
}

.hljs {
	@apply rounded-lg;
}

.markdown a {
	@apply underline;
}

.font-primary {
	font-family: 'Archivo', sans-serif;
}

iframe {
	@apply rounded-lg;
}

ol > li {
	counter-increment: list-number;
	display: block;
	margin-bottom: 0;
	margin-top: 0;
	min-height: 28px;
}

.prose ol > li::before {
	content: counters(list-number, '.') '.';
	padding-right: 0.5rem;
	color: var(--tw-prose-counters);
	font-weight: 400;
}

li p {
	display: inline;
}

::-webkit-scrollbar-thumb {
	--tw-border-opacity: 1;
	background-color: rgba(217, 217, 227, 0.8);
	border-color: rgba(255, 255, 255, var(--tw-border-opacity));
	border-radius: 9999px;
	border-width: 1px;
}

::-webkit-scrollbar {
	height: 0.4rem;
	width: 0.4rem;
}

::-webkit-scrollbar-track {
	background-color: transparent;
	border-radius: 9999px;
}

select {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
	background-position: right 0.5rem center;
	background-repeat: no-repeat;
	background-size: 1.5em 1.5em;
	padding-right: 2.5rem;
	-webkit-print-color-adjust: exact;
	print-color-adjust: exact;
	/* for Firefox */
	-moz-appearance: none;
	/* for Chrome */
	-webkit-appearance: none;
}

.katex-mathml {
	display: none;
}

.scrollbar-hidden:active::-webkit-scrollbar-thumb,
.scrollbar-hidden:focus::-webkit-scrollbar-thumb,
.scrollbar-hidden:hover::-webkit-scrollbar-thumb {
	visibility: visible;
}
.scrollbar-hidden::-webkit-scrollbar-thumb {
	visibility: hidden;
}

.scrollbar-hidden::-webkit-scrollbar-corner {
	display: none;
}

.scrollbar-none::-webkit-scrollbar {
	display: none; /* for Chrome, Safari and Opera */
}

.scrollbar-none::-webkit-scrollbar-corner {
	display: none;
}

.scrollbar-none {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
	-moz-appearance: textfield; /* Firefox */
}

.cm-editor {
	height: 100%;
	width: 100%;
}

.cm-scroller {
	@apply scrollbar-hidden;
}

.cm-editor.cm-focused {
	outline: none;
}

.tippy-box[data-theme~='dark'] {
	@apply rounded-lg bg-gray-950 text-xs border border-gray-900 shadow-xl;
}

.cisco * {
	stroke: #3e84e5 !important;
	font-family: 'CiscoSans', sans-serif !important;
}

.cisco .app > * {
	background-color: #faf4ed !important;
}

.cisco #nav {
	background-color: #fffaf3;
}

.cisco .py-2\.5.my-auto.flex.flex-col.justify-between.h-screen {
	background: #f2e9e1;
}

.cisco .bg-white.dark\:bg-gray-800 {
	background: #f2e9e1;
}

.cisco .w-4.h-4 {
	fill: #3e84e5;
}

.cisco #chat-textarea {
	background: #f7f7f7;
	margin: 0.3rem;
	padding: 0.5rem;
}

.cisco .bg-gradient-to-t.from-white.dark\:from-gray-800.from-40\%.pb-2 {
	background: #f2e9e1 !important;
	padding-top: 0.6rem;
}

.cisco
	.text-white.bg-gray-100.dark\:text-gray-800.dark\:bg-gray-600.disabled.transition.rounded-lg.p-1.mr-0\.5.w-7.h-7.self-center {
	background-color: #f7f7f7;
	transition: background-color 0.2s ease-out linear;
}

.cisco
	.bg-black.text-white.hover\:bg-gray-900.dark\:bg-white.dark\:text-black.dark\:hover\:bg-gray-100.transition.rounded-lg.p-1.mr-0\.5.w-7.h-7.self-center {
	background-color: #286983;
	transition: background-color 0.2s ease-out linear;
}

.cisco
	.bg-black.text-white.hover\:bg-gray-900.dark\:bg-white.dark\:text-black.dark\:hover\:bg-gray-100.transition.rounded-lg.p-1.mr-0\.5.w-7.h-7.self-center
	> * {
	fill: #56949f !important;
	transition: fill 0.2s ease-out linear;
}

.cisco
	.w-full.flex.justify-between.rounded-md.px-3.py-2.hover\:bg-gray-900.bg-gray-900.transition.whitespace-nowrap.text-ellipsis {
	background-color: #56526e;
	font-weight: bold;
}

.cisco .hover\:bg-gray-900:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(152 147 165 / var(--tw-bg-opacity));
}

.cisco .text-xs.text-gray-700.uppercase.bg-gray-50.dark\:bg-gray-700.dark\:text-gray-400 {
	background-color: #403d52;
}

.cisco .scrollbar-hidden.relative.overflow-x-auto.whitespace-nowrap.svelte-3g4avz {
	border-radius: 16px 16px 0 0;
}

.cisco .base.enter.svelte-ug60r4 {
	background-color: #286983;
}

.cisco .message.svelte-1nauejd {
	color: #e0def4 !important;
}

.cisco #dropdownDots {
	background-color: #dfdad9;
}

.cisco .flex.py-2\.5.px-3\.5.w-full.hover\:bg-gray-800.transition:hover {
	background: #f7f7f7;
}

.cisco #dropdownDots {
	background-color: #dfdad9;
}

.cisco .flex.py-2\.5.px-3\.5.w-full.hover\:bg-gray-800.transition:hover {
	background: #f7f7f7;
}

.cisco .m-auto.rounded-xl.max-w-full.w-\[40rem\].mx-2.bg-gray-50.dark\:bg-gray-900.shadow-3xl {
	background-color: #f2e9e1;
}

.cisco .w-full.rounded.p-4.text-sm.dark\:text-gray-300.dark\:bg-gray-800.outline-none.resize-none {
	background-color: #f7f7f7;
}

.cisco .w-full.rounded.py-2.px-4.text-sm.dark\:text-gray-300.dark\:bg-gray-800.outline-none.svelte-1vx7r9s {
	background-color: #f7f7f7;
}

.cisco
	.px-2\.5.py-2\.5.min-w-fit.rounded-lg.flex-1.md\:flex-none.flex.text-right.transition.bg-gray-200.dark\:bg-gray-700 {
	background-color: #dfdad9;
}

.cisco
	.px-2\.5.py-2\.5.min-w-fit.rounded-lg.flex-1.md\:flex-none.flex.text-right.transition.hover\:bg-gray-300.dark\:hover\:bg-gray-800:hover {
	background-color: #f7f7f7;
}

.cisco .px-4.py-2.bg-emerald-600.hover\:bg-emerald-700.text-gray-100.transition.rounded {
	background-color: #56949f;
}

.cisco #chat-search > * {
	background-color: #dfdad9 !important;
}

.cisco .svelte-1ee93ns {
	--primary: #b4637a !important;
	--secondary: #fffaf3 !important;
}

.cisco .svelte-11kvm4p {
	--primary: #56949f !important;
	--secondary: #fffaf3 !important;
}

.detailsGetSupport > .assistant ol > li,
.detailsGetSupport > .assistant ul > li {
	margin: 0.5em 0;
	margin-left: 10px;
}
